<!doctype html>
<html class="no-js" lang="en" ng-app="quidTimer">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuidTimer</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>

  <body ng-controller="MainCtrl">

    <div class="row">
      <div class="small-12 columns">
        <h1> Quidditch Timer </h1>
      </div>
    </div>

    <div class="row">
      <div class="panel">
        <h1>
          THIS COULD BE A TIMER
          <!-- failed versions -->
          <!-- <timer interval="1000" autostart="false">{{mminutes}}:{{sseconds}}</timer> -->
          <!-- <span id="runner"></span> -->
        </h1>
      </div>
    </div>

    {{ inputs }}
    {{ teams }}

    <div class="row">
      <div class="small-6 columns">
        <label>Team A
          <input ng-model="inputs.teamAName" type="text" placeholder="Michigan Quidditch" />
        </label>
      </div>
      <!-- Size Classes: [tiny small large] -->
      <!-- Radius Classes: [radius round] -->
      <!-- Color Classes: [secondary success alert] -->
      <!-- Disabled Class: disabled -->

      <!-- <button href="#" id="start" ng-disabled="timerRunning" ng-click="startTimer()" class="button">Start</a>
      <button href="#" id="stop" ng-disabled="!timerRunning" ng-click="stopTimer()" class="button alert">Stop</a> -->

    </div>

    


    <!-- scripts -->
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/runner.min.js"></script>
    <script src="js/app.js"></script>
    <script>
      // $(document).foundation();

      // jquery timer
      // $(document).ready(function(){
      //   $('#runner').runner();
      // });

      // $('#start').click(function() {
      //   $('#runner').runner('start');
      // });

      // $('#stop').click(function() {
      //   $('#runner').runner('stop');
      // });
    </script>
  </body>
</html>